@model IEnumerable<ProjectUEF.Models.CongTrinhKhoaHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout - Admin.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h2 class="m-0 font-weight-bold text-primary">Công Trình Khoa Học</h2>
                </div>
                <div>
                    <center>
                        <a href="/Admin/CongTrinhKhoaHocs/Create" class="btn btn-warning">Thêm mới</a>
                    </center>
                    <div class="col-md-offset-2 col-md-10">

                        @using (Html.BeginForm())
                        {
                            <p>
                                @Html.TextBox("SearchString") <input type="submit" value="Search" style="border-radius: 6px;" />
                            </p>
                        }
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenSanPhamVN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenSanPhamEN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenTacGiaVN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenTacGiaEN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenTapChiVN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenTapChiEN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SoHieuISSN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nam)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MinhChung)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GhiChu)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.isDuyet)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayDuyet)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NguoiDuyet)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayTao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayCapNhat)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LoaiCongTrinhKhoaHoc.TenLoaiCongTrinhKhoaHoc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LoaiCongTrinhKhoaHoc1.TenLoaiCongTrinhKhoaHoc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LyLichKhoaHoc.MaQuanLy)
                                </th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenSanPhamVN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenSanPhamEN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenTacGiaVN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenTacGiaEN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenTapChiVN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenTapChiEN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoHieuISSN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nam)
                                    </td>
                                    <td>
                                        <img width="200" height="200" src="@item.MinhChung" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GhiChu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isDuyet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayDuyet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NguoiDuyet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayTao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayCapNhat)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LoaiCongTrinhKhoaHoc.TenLoaiCongTrinhKhoaHoc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LoaiCongTrinhKhoaHoc1.TenLoaiCongTrinhKhoaHoc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LyLichKhoaHoc.MaQuanLy)
                                    </td>

                                    <td>
                                        <a class="btn btn-xs btn-success" href="/Admin/CongTrinhKhoaHocs/Edit/@item.ID"><span class="fa fa-edit"></span></a>
                                        <a class="btn btn-xs btn-danger" href="/Admin/CongTrinhKhoaHocs/Delete/@item.ID"><span class="fa fa-recycle"></span></a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-7">

                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                        <ul class="pagination">
                            @{
                                int numPage = ViewBag.numPage;
                                int PageCurrent = ViewBag.pageCurrent;
                                if (PageCurrent > 1)
                                {
                                    int prePage = PageCurrent - 1;
                                    <li class="paginate_button page-item previous" id="dataTable_previous">
                                        <a href="?page=@prePage" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Trang trước</a>
                                    </li>
                                }
                                int i;
                                for (i = 1; i <= numPage; i++)
                                {
                                    if (i == PageCurrent)
                                    {
                                        <li class="paginate_button page-item active">
                                            <a href="?page=@i" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button page-item ">
                                            <a href="?page=@i" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">@i</a>
                                        </li>
                                    }
                                }
                                if (PageCurrent >= 1 && PageCurrent < numPage)
                                {
                                    int nextPage = PageCurrent + 1;
                                    <li class="paginate_button page-item next" id="dataTable_next">
                                        <a href="?page=@nextPage" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Trang sau</a>
                                    </li>
                                }
                            }

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
