@model ProjectUEF.Models.BaiBao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout - Client.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaiBao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonVi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonVi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenBaiBao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBaiBao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTapChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTapChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianSanXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianSanXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiSoISSNVaISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiSoISSNVaISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuocDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuocDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuyDoiTieuChuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuyDoiTieuChuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapDoDeTai.CapDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapDoDeTai.CapDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhMucBaiBao.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMucBaiBao.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiNghienCuu.TenLoaiNghienCuu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiNghienCuu.TenLoaiNghienCuu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LyLichKhoaHoc.MaQuanLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LyLichKhoaHoc.MaQuanLy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongDiem1.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongDiem1.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaiTro.TenVaiTro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaiTro.TenVaiTro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
