@model ProjectUEF.Models.CongTrinhKhoaHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout - Client.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CongTrinhKhoaHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPhamVN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPhamVN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSanPhamEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPhamEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTacGiaVN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTacGiaVN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTacGiaEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTacGiaEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTapChiVN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTapChiVN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTapChiEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTapChiEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoHieuISSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoHieuISSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinhChung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinhChung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiCongTrinhKhoaHoc.TenLoaiCongTrinhKhoaHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiCongTrinhKhoaHoc.TenLoaiCongTrinhKhoaHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiCongTrinhKhoaHoc1.TenLoaiCongTrinhKhoaHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiCongTrinhKhoaHoc1.TenLoaiCongTrinhKhoaHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LyLichKhoaHoc.MaQuanLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LyLichKhoaHoc.MaQuanLy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
